@charset "UTF-8";
a{cursor:pointer;  text-decoration:none;}
.login-form{min-height: 800px; background-image: url('/img/wallpaper-bg-body.jpg');
	backgroud-position:center; background-size: cover; background-repeat: no-repeat;}

.login-form{display: flex; align-items:center; flex-direction: row; flex-wrap: wrap;
	justify-content: center; text-align: center;}
	
.main-div{background: #ffffff; border-radius: 5px; margin: 0 auto; max-width: 30%; padding: 50px 20px;}

.form-control{background: #f7f7f7; border-radius: 7px; font-size: 14px; height: 50px; line-height:50px;
	border: 2px solid #d4d4d4;}

.form-group{margin:10px}

.titulo{display: flex; text-align:left;}

.label-group{font-size: 12px; font-weight:bold; color: #7d3c98;}

.label-header{color: #7d3c98;}

.btn-login{width: 100%;}