<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Importando biblioteca de estilos do BootStrap -->
<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<title>Projeto de gerenciamento de alunos - Login</title>
<meta name="author" content="Paulo Rosmaninho" />
<!-- Importando arquivo style.css -->
<link rel="stylesheet" href="css/login.css">
<!-- Importando kit de fontes awesome -->
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<!-- Importando kit de fontes do google -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<div class="login-form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h2>Cadastro de Usuário</h2>
					<p>Criar usuário no sistema</p>
				</div>
				<form method="post" th:object=${usuario} action="/cadastrarUsuario" autocomplete="off">

					<div class="alert alert-danger" role="alert" th:if="${errMsg}">
						<strong th:text="${errMsg}"></strong>
					</div>

					<div class="form-group">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
							<label class="validation-message" th:errors="*{nome}"></label>
						</div>
						<label class="titulo">Nome do Usuário:</label>
						<input type=text name="nome" th:field="*{nome}" class="form-control" placeholder="Nome do usuário">
					</div>

					<div class="form-group">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sobrenome')}">
							<label class="validation-message" th:errors="*{sobrenome}"></label>
						</div>
						<label class="titulo">Sobrenome do Usuário:</label>
						<input type=text name="sobrenome" th:field="*{sobrenome}" class="form-control" placeholder="Sobrenome do usuário">
					</div>

					<div class="form-group">
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
							<label class="validation-message" th:errors="*{email}"></label>
						</div>
						<label class="titulo">E-mail</label>
						<input type=email name="email" th:field="*{email}" class="form-control" placeholder="exemplo@email.com">
					</div>

					<div class="form-group">
<!-- 						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('codigoSenha')}"> -->
<!-- 							<label class="validation-message" th:errors="*{codigoSenha}"></label> -->
<!-- 						</div> -->
						<label class="titulo">Senha</label>
						<input type=password name="codigoSenha" th:field="*{codigoSenha}" class="form-control" placeholder="Crie uma senha">
					</div>
					
					<button type="submit" class="btn btn-outline-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-outline-info">Voltar</a>

				</form>
			</div>
		</div>
	</div>
</body>
</html>