<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Importando biblioteca de estilos do BootStrap -->
<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<title>Academy | Nova senha</title>
<meta name="author" content="Paulo Rosmaninho" />
<!-- Importando arquivo style.css -->
<link rel="stylesheet" href="css/login.css">
<!-- Importando kit de fontes awesome -->
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<!-- Importando kit de fontes do google -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<div class="login-form">
		<div class="container">
			<div class="main-div">
				<div class="label-header">
					<h4>Esqueceu sua senha?</h4>
					<hr>
					<p>Informe seu e-mail e aguarde uma nova senha</p>
				</div>
				<form method="post" action="/novaSenha" autocomplete="off">

					<div id="msgSucesso" class="alert alert-success" role="alert" th:if="${sucesso}">
						<!-- Sucesso -->
						<span th:text="${sucesso}"></span>
					</div>
					<script>
						setTimeout(function() {
							document.getElementById('msgSucesso').style.display = 'none';
						}, 9000);
					</script>

					<div class="alert alert-danger" role="alert" th:if="${errMsg}">
						<span th:text="${errMsg}"></span>
					</div>
					
					<div align="left" class="label-group" style="margin-top: 40px;">
						<label>E-mail</label>
					</div>
					
					<div>
						<input type=text name="email" class="form-control" placeholder="E-mail">
					</div>

					<div style="margin-top: 40px;">
						<button type="submit" class="btn btn-outline-primary">Enviar</button>
						<a th:href="@{/}" class="btn btn-outline-info">Voltar</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>