<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Importando biblioteca de estilos do BootStrap -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<title>Projeto de gerenciamento de alunos</title>
<meta name="author" content="Paulo Rosmaninho" />

<!-- Importando arquivo style.css -->
<link rel="stylesheet" href="/css/style.css">

<!-- Importando kit de fontes awesome -->
<script src="https://kit.fontawesome.com/006642858d.js"></script>

<!-- Importando kit de fontes do google -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

	<div class="container" style="margin-top: 50px;">

		<h4>Alterar aluno</h4>
		<hr>

		<form method=post action="/alterarAluno" th:object="${aluno}" autocomplete="off">
		<input type="hidden" th:field="*{id}">

			<!-- Nome -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('nome')}">
						<label class="validation-message" th:errors="*{nome}"></label>
					</div>

					<label>Nome do Aluno:</label> <input class="form-control"
						placeholder="Nome do aluno" th:field="*{nome}">
				</div>
			</div>

			<!-- Curso -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<label>Selecione o Curso:</label>
					<select class="form-control" th:field="*{curso}">
					
						<option th:each="curso : ${T(br.com.academy.model.enums.Curso).values()}" 
						th:value="${curso}" th:text="${curso.descricao}"> </option> 
					
					</select>
				</div>
			</div>


			<!-- Matricula -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('matricula')}">
						<label class="validation-message" th:errors="*{matricula}"></label>
					</div>

					<label>Gerar Matricula:</label> <input readonly="readonly"
						class="form-control" th:field="*{matricula}">
					<button type="button" onclick="SubstituirMatricula();"
						class="btnpadrao btn-dark" style="margin-top: 10px">Gerar</button>
				</div>
			</div>


			<!-- Status -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<label>Selecione o Status:</label>
					<select class="form-control" th:field="*{status}">
					
						<option th:each="status : ${T(br.com.academy.model.enums.Status).values()}" 
						th:value="${status}" th:text="${status.descricao}"> </option> 
					
					</select>
				</div>
			</div>

			<!-- Turno -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<label>Selecione o Turno:</label>
					<select class="form-control" th:field="*{turno}">
					
						<option th:each="turno : ${T(br.com.academy.model.enums.Turno).values()}" 
						th:value="${turno}" th:text="${turno.descricao}"> </option> 
					
					</select>
				</div>
			</div>

			<!-- Auditoria -->
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<label>Data/Hora da Inclusão</label>
					<input readonly="readonly" class="form-control"  th:value="*{#calendars.format(timeStampInclusao, 'dd/MM/yyyy HH:mm:ss.SSS')}">
				</div>
			</div>

			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 form-group offset-md-3">
					<label>Data/Hora da Última Alteração</label>
					<input readonly="readonly" class="form-control"  th:value="*{#calendars.format(timeStampAlteracao, 'dd/MM/yyyy HH:mm:ss.SSS')}">
				</div>
			</div>

			<div class="row" style="margin-top: 10px">
				<!-- Salvar Aluno -->
				<button type="submit" class="btnpadrao btn-success offset-md-5">Salvar</button>
				&nbsp&nbsp&nbsp&nbsp
				<a th:href="@{/filtro-alunos}" class="btnpadrao btn-outline-danger" style= "text-align: center; color: black; text-decoration: none;" >Voltar</a>
			</div>


		</form>

	</div>


	<div th:replace="fragmentos/fragmentos :: rodape"></div>

	<!-- Importando biblioteca de JavaScript local -->
	<script src="/js/main.js"></script>

	<!-- Importando biblioteca de JavaScript jQuery -->
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

	<!-- Importando biblioteca de JavaScript BootStrap -->
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>