<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Importando biblioteca de estilos do BootStrap -->
<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<title>Projeto de gerenciamento de alunos</title>
<meta name="author" content="Paulo Rosmaninho"/> 
</head>
<body>
<!-- Importando biblioteca de JavaScript jQuery -->
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<!-- Importando biblioteca de JavaScript BootStrap -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<p>Olá mundo Spring</p>
<h1 th:text="${msg}"></h1>
<button class="btn btn-primary">Teste</button>


</body>
</html>